extends layout

block content
  #welcome
    h1 Oooops!
    p What a pity. Something has broken, sorry. You can use this link to go back to the main page:
    a.button.small-centered(href='/') Go back
