extends layout

block content
  #welcome
    h1 Feed me, SPARQL!
    p Welcome! Are you hungry? Then you are in the right place. Select below the kind of restaurant you are looking for and let us select the bests for you.

    form(action='/filter', method='post')
      input(type='text', name='name', autocomplete='off' placeholder='Restaurant name or city')
      input.search-button(type='submit', value='Search')
      div.clear
