doctype html
html
  head
    title='Feed me, SPARQL!'
    meta(http-equiv='X-UA-COMPATIBLE', content='IE-edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,300', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Indie+Flower', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
