extends layout

block content
  #welcome
    h1 
      a(href='/') Feed me, SPARQL!
    p Wow! Yummy, yummy!

    #wrapper
      #menu(itemscope, itemtype="http://dbpedia.org/resource/Menu")
        each result in data
          div.crud-box(itemprop="item", itemscope, itemtype="http://schema.org/ListItem")
            h2(itemprop="name")= result.name.value
            img.img-responsive(src=result.image.value, itemprop="image")
