extends layout

block content
  #welcome
    h1 
      a(href='/') Feed me, SPARQL!
    p We have some info for you. Too much or not what you were looking for? Keep filtering. It's free!

  form(action='/filter', method='post')
    input(type='text', name='name', autocomplete='off' placeholder='Restaurant name or city')
    div.row.options
      label
        input(type='radio', name='priceRange', value='$')
        |  Cheap
      label
        input(type='radio', name='priceRange', value='$$')
        |  Medium
      label
        input(type='radio', name='priceRange', value='$$$')
        |  Expensive
    div.row.options
      label
        input(type='checkbox', name='openingHours', value='Mo')
      |  Monday 
      label
        input(type='checkbox', name='openingHours', value='Tu')
        |  Tuesday
      label
        input(type='checkbox', name='openingHours', value='We')
        |  Wednesday
      label
        input(type='checkbox', name='openingHours', value='Th')
        |  Thursday
      label
        input(type='checkbox', name='openingHours', value='Fr')
        |  Friday
      label
        input(type='checkbox', name='openingHours', value='Sa')
        |  Saturday
      label
        input(type='checkbox', name='openingHours', value='Su')
        |  Sunday
    input.filter-button(type='submit', value='Filter')
    div.clear

  #restaurants.row
    each result in data
      div.col-md-4.col-sm-6.restaurant-wrapper
        div.restaurant(itemscope, itemtype="http://schema.org/Restaurant")
          img.img-responsive(src=result.photo_url.value, itemprop="photo")
          h2(itemprop="name")= result.name.value
          p
            | Opening hours: 
            span(itemprop="openingHours") #{result.openingHours.value}
          if result.priceRange.value == '$$$'
            p
              | Price: expensive (
              span(itemprop="priceRange") $$$
              | )
          else if result.priceRange.value == '$$'
            p
              | Price: medium (
              span(itemprop="priceRange") $$$
              | )
          else
            p
              | Price: cheap (
              span(itemprop="priceRange") $$$
              | )
          a.button(href=result.s.value) Visit site
