html { 
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

body {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 50px;
  text-align: center;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

#welcome {
  color: white;
  margin-top: 5em;
}

#welcome h1 {
  font-family: 'Indie Flower', sans-serif;
  font-size: 3em;
}

#welcome h1 a {
  color: white;
  font-weight: 300;
  text-decoration: none;
}

#welcome h1 a:hover {
  font-weight: 700;
}

#welcome form {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  margin-top: 5em;
  padding: 0.5em;
}

input[type="text"] {
  border: none;
  border-radius: 2px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin-bottom: 0.1em;
  outline: none;
  padding: 0.5em 1em;
  text-align: center;
  width: 100%;
}

#welcome input[type="text"] {
  border-radius: 2px 0 0 2px;
  float: left;
  text-align: left;
  width: calc(100% - 100px);
} 

input.search-button {
  background-color: #71be55;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  outline: none;
  padding: 0.5em 1em;
  width: 100px;
}

#welcome input.search-button {
  border-radius: 0 2px 2px 0;
  float: right;
}

#restaurants {
  margin-top: 2em;
}

.restaurant-wrapper {
  padding: 1em;
}

.restaurant {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  padding: 1em;
}

.button {
  background-color: #71be55;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  padding: 0.5em 1em;
  width: 100%;
}

.button:hover {
  background-color: #5fa146;
  color: white;
  text-decoration: none;
}

.clear {
  clear: both;
}

.options {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  margin: 0.2em 0;
  padding: 0.5em;
}

.filter-button {
  background-color: #71be55;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin-top: 1em;
  outline: none;
  padding: 0.5em 1em;
  width: 100px;
}

label:not(:first-of-type) input[type="checkbox"], label:not(:first-of-type) input[type="radio"] {
  margin-left: 1em;
}

#restaurant-details {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  padding: 1em;
  text-align: left;
}

#restaurant-details h2 {
  margin-top: 0;
}

#map-canvas-wrapper {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  margin-top: 1em;
  padding: 1em;
}

#map-canvas {
  border-radius: 2px;
  height: 15em;
}

img {
  border-radius: 2px;
}

.review {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  margin-top: 1em;
  padding: 1em;
  text-align: left;
}

.review h2 {
  margin: 0;
}

.review span {
  color: #555;
  font-size: 0.9em;
}

.review .col-xs-2 p {
  font-size: 3em;
  margin: 0;
  text-align: center;
}
